.section-new-trip {
  grid-column: 1 / -1;
  // background-color: #74c0fc;
  // background-color: #6f4849;
  background-color: $color-primary-light;
  padding: 5rem 0;

  @include respond(tablet) {
    padding: 10rem 0;
  }

  @include respond(desktop) {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
  }
}

.new-trip {
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  // background-color: $color-grey-light-1;
  background-color: $color-primary-lightest;
  max-width: 90%;
  margin: 0 auto;

  &__form {
    padding: 2rem;
  }
}

.section-destination {
  grid-column: 1 / -1;

  padding: 5rem 0;

  @include respond(tablet) {
    padding: 10rem;
  }

  @include respond(desktop) {
    grid-column: 4 / -1;
    grid-row: 2 / span 1;
  }
}

.destination {
  display: grid;
  grid-row-gap: 5rem;
  justify-items: center;

  max-width: 90%;
  margin: 0 auto;

  @include respond(tablet) {
    grid-column: 3 / 7;
  }

  &__images {
    display: grid;
    grid-gap: 5rem;

    @include respond(tablet) {
      grid-template-rows: repeat(11, 1fr);
      grid-template-columns: repeat(15, 1fr);
      grid-gap: 0;
    }
  }

  &__img {
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
    transition: all 0.2s;
    z-index: 1;

    &--1 {
      @include respond(tablet) {
        width: 100%;
        grid-row: 1 / span 6;
        grid-column: 2 / span 7;
      }
    }

    &--2 {
      @include respond(tablet) {
        width: 100%;
        grid-row: 6 / -1;
        grid-column: 5 / span 7;
      }
    }

    &--3 {
      @include respond(tablet) {
        width: 100%;
        grid-row: 2 / -1;
        grid-column: 8 / span 7;
      }
    }

    &:hover {
      @include respond(tablet) {
        transform: scale(1.2);
        z-index: 2;
      }
    }
  }
}
