<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Travel App</title>
    </head>
    <body>
        <header>
          <h1>Travel Planner</h1>
        </header>
        <main>
            <section>
                <form>
                    <input id='destination' type='text' name='input' placeholder='Please Enter Your Destination'>
                    <input id='date' type='date' name='input' placeholder='When are you leaving?'>
                    <button id='generate' type='submit'>Submit</button>
                </form>
            </section>
            <section>
                <strong>Weather Forecast:</strong>
                <div id='description'></div>
                <div id='temperature'></div>
            </section>
            <secion>
                <img id='locationImage' src="#">
            </secion>
        </main>
    </body>
</html>
