.form {

    @include respond(tablet) {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(min-content, 33%));
    }

    &__group * {
        margin-right: auto;
        margin-left: auto;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem; 
    }

    &__group:last-child {
        text-align: center;
        margin-top: 3rem;

        @include respond(tablet) {
            margin-top: 1rem;
            grid-column: 1 / -1;
        }
    }

    &__label {
        display: block;
        margin-bottom: .5rem;
        margin-left: 5%;
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: 0 1.5rem;
        height: 4rem;
        border-radius: .5rem;
        background-color: $color-white;
        border: none;
        border-bottom: .3rem solid transparent;
        width: 90%;
        display: block;

        &:focus {
            outline: none;
            border-bottom: .3rem solid $color-grey-light-3;
        }

    }


}
