.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
  font-family: $font-sans;
  color: $color-primary-dark;

  &__label {
    font-weight: bold;
  }

  &__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.3rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: $color-white;
    border: none;
    border-bottom: 0.3rem solid transparent;

    &:focus {
      outline: none;
      border-bottom: 0.3rem solid $color-primary-medium;
    }

    &::placeholder {
      color: inherit;
    }
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 3rem;
  }
}
