.info-card {
  display: flex;
  justify-content: center;
  background-color: $color-primary-light;
  padding: 5rem 0;

  &__section {
    padding: 4rem;

    &:first-child {
      text-align: right;
      border-right: 1px solid $color-primary-medium;
    }

    &:last-child {
      text-align: left;
    }
  }
}
