.slider {
  width: 100%;
  height: 35rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @include respond(x-small) {
    height: 40rem;
    margin: 5vw auto;
  }

  @include respond(small) {
    max-width: 100rem;
    height: 45rem;
  }

  @include respond(medium) {
    margin: 8rem auto;
  }

  @include respond(large) {
    max-width: 120rem;
    height: 50rem;
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;

  @include respond(x-small) {
    height: 40rem;
  }

  @include respond(small) {
    height: 45rem;
  }

  @include respond(large) {
    height: 50rem;
  }
}

.slide > img {
  max-width: 100%;
  max-height: 100%;
  background-color: $color-primary-light;

  @include respond(small) {
    max-width: 80%;
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  border: none;
  background-color: $color-primary-medium;
  color: $color-primary-light;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  cursor: pointer;

  &--left {
    left: 4%;
    transform: translate(-50%, -50%);

    @include respond(x-small) {
      left: 3%;
    }

    @include respond(small) {
      left: 5%;
      border-radius: 0.5rem;
    }
  }

  &--right {
    right: 4%;
    transform: translate(50%, -50%);

    @include respond(x-small) {
      right: 3%;
    }

    @include respond(small) {
      right: 5%;
      border-radius: 0.5rem;
    }
  }

  &:hover {
    opacity: 0.9;
  }
}
