.slider {
  max-width: 120rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  padding: 2vw 0;
  margin: 0 auto;

  // @include respond(tablet) {
  //   height: 40rem;
  // }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;

  // @include respond(tablet) {
  //   height: 40rem;
  // }
}

.slide > img {
  max-width: 70%;
  max-height: 100%;
}

.slider__btn {
  position: absolute;
  top: 50%;
  border: none;
  background-color: transparent;
  color: $color-primary-lightest;
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  cursor: pointer;

  &--left {
    left: 5%;
    transform: translate(-50%, -50%);
  }

  &--right {
    right: 5%;
    transform: translate(50%, -50%);
  }
}

.hidden {
  visibility: hidden;
}
