// color variables
$primary-color: #4364f7;
$primary-color-light: #6fb1fc;
$primary-color-dark: #121d5a;

$lightest-color: #d1d4e6;

$light-grey-color: #f7f7f7;
$grey-color: #777;
$dark-grey-color: #333;

$white-color: #fff;
$black-color: #000;
