// COLOR VARIABLES
$color-primary-light: #ccd9e2;
$color-primary-medium: #285185;
$color-primary-dark: #142943;

$color-secondary: #d97116;

$color-tertiary: #6f4849;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-serif: "Libre Baskerville", serif;
$font-sans: "Raleway", sans-serif;
