// color variables
$color-primary: #cc316d;
$color-primary-light: #fb478d;
$color-primary-dark: #99335a;

$color-secondary: #4169e1;
$color-secondary-light: #009ffd;
$color-secondary-dark: #2a2a72;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d1d4e6;
$color-grey-light-3: #bbb;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
