.container {
    display: grid;
    grid-template-columns: 5vh repeat(6, 1fr) 5vh;
    grid-column-gap: 2vw;
    grid-row-gap: 5rem;

    background-color: $color-grey-light-1;

    @include respond(tablet) {
        grid-row-gap: 8rem;
    }

    @include respond(lg-desktop) {
        max-width: 120rem;
        margin: 5rem auto;
        box-shadow: 0 2rem 6rem rgba($color-black, .4);
    }
}
