.container {
  display: grid;
  grid-template-columns: 5vw repeat(10, 1fr) 5vw;
  grid-template-rows: 20vh repeat(2, min-content) 15vh;

  background-color: $color-grey-light-1;

  @include respond(desktop) {
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond(lg-desktop) {
    max-width: 120rem;
    margin: 5rem auto;
    box-shadow: 0 2rem 6rem rgba($color-black, 0.4);
  }
}
