.section-destination {
  text-align: center;
}

.destination {
  &__details {
    padding: 2rem 0 2rem 0;
  }

  &__weather {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }
}

.tripadvisor {
  padding: 2rem 0 4rem 0;
}
