.section-destination {
  text-align: center;
}

.destination {
  &__details {
    padding: 5rem 0 2rem 0;
  }

  &__info {
    padding: 4rem 0;
    background-color: $color-primary-light;
  }
}

.tripadvisor {
  padding: 2rem 0 4rem 0;
}
