.footer {
  height: 20vh;
  background-color: #d97116;
  font-family: "Libre Baskerville", serif;
  color: $color-primary-dark;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 2rem;
  height: 3rem;
  width: 3rem;
}
