.footer {
  height: 15vh;
  background-color: $color-secondary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    margin-bottom: 2rem;
    height: 4rem;
    width: 4rem;
  }
}
