.header {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba($color-primary-medium, 0),
      rgba($color-primary-medium, 0)
    ),
    url(../media/header.jpg);
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &__text {
    text-align: center;
    width: min-content;
  }
}

.logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
