.header {
    grid-column: 1 / -1;
    
    background-image: linear-gradient(to right bottom,
                                    $color-primary-light,
                                    $color-primary-dark);
    padding: 2rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.primary-heading {
    text-align: right;
    margin-left: 3rem;
}
