* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px

  @include respond(medium) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(large) {
    font-size: 62.5%; // 1rem = 10px;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}
