body {
    font-family: 'Raleway', 'Lato', sans-serif;
    font-weight: 400;
    color: $dark-grey-color;
}

.primary-heading {
    color: $lightest-color;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1rem;
    line-height: 1.4;
    font-weight: 100;
}

.icon {
    font-size: 6rem;
}