body {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-primary-dark;
}

.primary-heading {
  font-family: $font-serif;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: $color-white;
  text-shadow: 0 0.3rem 0.5rem $color-primary-dark;
}

.secondary-heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-family: $font-serif;
  color: $color-tertiary;
}

.footer {
  color: $color-white;
  text-shadow: 0 0.1rem 0.2rem $color-primary-dark;
}
